/ikenga.iml
/.gradle
/.idea
/build
/plugin-api/plugin-api.iml
/plugin-api/build
/plugin-api/ikenga-achievement-plugin-api/ikenga-achievement-plugin-api.iml
/plugin-api/ikenga-achievement-plugin-api/build
/plugin-api/ikenga-collector-plugin-api/ikenga-collector-plugin-api.iml
/plugin-api/ikenga-collector-plugin-api/build
/plugin-api/ikenga-api/ikenga-api.iml
/plugin-api/ikenga-api/build
/plugin-api/ikenga-svn-collector-plugin-template/ikenga-svn-collector-plugin-template.iml
/plugin-api/ikenga-svn-collector-plugin-template/build
/plugins/plugins.iml
/plugins/build
/plugins/ikenga-default-achievements/ikenga-default-achievements.iml
/plugins/ikenga-default-achievements/build
/plugins/ikenga-default-collector/ikenga-default-collector.iml
/plugins/ikenga-default-collector/build
/server/server.iml
/server/build
/server/ikenga-collector/ikenga-collector.iml
/server/ikenga-collector/build
/server/ikenga-persistence/ikenga-persistence.iml
/server/ikenga-persistence/build
/server/ikenga-plugin-manager/ikenga-plugin-manager.iml
/server/ikenga-plugin-manager/build
/server/ikenga-user-manager/ikenga-user-manager.iml
/server/ikenga-user-manager/build
/server/ikenga-web/ikenga-web.iml
/server/ikenga-web/build
/server/ikenga-webhook/ikenga-webhook.iml
/server/ikenga-webhook/build
/server/ikenga-domain/ikenga-domain.iml
/server/ikenga-domain/build
/server/ikenga-awarder/build
/api/api.iml
/api/build
/api/ikenga-api/ikenga-api.iml
/api/ikenga-api/build
/api/ikenga-svn-collector-plugin-template/ikenga-svn-collector-plugin-template.iml
/api/ikenga-svn-collector-plugin-template/build
/server/ikenga-awarder/ikenga-awarder.iml
